{% if errors != ""  %}
    {% for e in errors  %}        
        <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i>&nbsp;{{ e }}</div>
    {% endfor %}

{% else %}
    {% if payplug_popup == 0 %}
        <p align="right">
            <b>
                <?php echo $text_bank_redirect; ?>
            </b>
        </p>
        <div class="buttons">
            <div class="pull-right">
                <input type="button" class="btn btn-primary" value="{{ button_confirm }}" class="button" onclick="location.href = '{{ paymentUrl }}';"/>
            </div>
        </div>
    {% else %}
        <script type="text/javascript" src="https://api.payplug.com/js/1.0/form.js"></script>
        <div class="buttons">
            <div class="pull-right">
                <input type="button" class="btn btn-primary" value="{{ button_confirm }}" class="button" onclick="Payplug.showPayment('{{ paymentUrl }}');"/>
            </div>
        </div>
    {% endif %}
{% endif %}